//The variables used in this project


//  __   __  |    __   __  
// (___ (__) |_, (__) |  ' 

$black: #111
$blue: #00a
$purple: #ab57ab
$red: #a00
$white: #eee

$link-color: $blue
$link-color-active: $red
$link-color-hover: $purple
$link-color-visited: $purple

$font-color-normal: $black