/*
Syntax error: Invalid CSS after ""base/**/*" ": expected media query list, was "//Base rules ar..."
        on line 16 of c:/xampp/htdocs/dir/SMACCS-SASS-Template/styles-precompile/theme.sass

Backtrace:
c:/xampp/htdocs/dir/SMACCS-SASS-Template/styles-precompile/theme.sass:16
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/scss/parser.rb:1146:in `expected'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/scss/parser.rb:1084:in `expected'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/scss/parser.rb:51:in `parse_media_query_list'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/engine.rb:827:in `parse_import_arg'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/engine.rb:792:in `block in parse_import'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/engine.rb:791:in `loop'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/engine.rb:791:in `parse_import'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/engine.rb:661:in `parse_directive'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/engine.rb:566:in `parse_line'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/engine.rb:471:in `build_tree'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/engine.rb:490:in `block in append_children'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/engine.rb:489:in `each'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/engine.rb:489:in `append_children'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/engine.rb:345:in `_to_tree'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/engine.rb:315:in `_render'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.2.6/lib/sass/engine.rb:262:in `render'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/bin/compass:44:in `call'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
c:/Ruby200-x64/bin/compass:23:in `load'
c:/Ruby200-x64/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"\"base/**/*\" \": expected media query list, was \"//Base rules ar...\"\A         on line 16 of c:/xampp/htdocs/dir/SMACCS-SASS-Template/styles-precompile/theme.sass"; }
